#message{
	text-align:center;
	color:#666666;
	font-size:13px;
	line-height:45px;
}

#upload{
	position:fixed;
	bottom:5px;
	right:10px;
	border-radius:5px;
	overflow:hidden;
	z-index:100;
}
.uploadOption{
	font-family:黑体;
	font-size:16px;
	color:white;
	background-color:#00B7EE;
	cursor:pointer;
	transition:0.5s;
}
.uploadOption:hover{
	background-color:#00A2D4;
}
.uploadOption span{
	vertical-align:top;
}
.uploadOption>label{
	display:block;
	padding:5px;
	cursor:pointer;
}

#uploadControl{
	display:none;
}

#uploadCanvas{
	display:flex;
	flex-wrap:wrap;
	width:90%;
	margin:0 auto;
}
.uploadItem{
	flex-shrink:0;
	box-sizing:border-box;
	padding:0 10px;
	width:25%;
	height:323px;
	margin-bottom:5px;
	border-radius:5px;
	overflow:hidden;
}
.itemPreview{
	width:100%;
	height:100%;
	background-size:cover;
	text-align:right;
    background-position:center;
}
.remove{
	color:red;
	font-size:18px;
	cursor:pointer;
}

#curtain{
	position:fixed;
	top:0;
	left:0;
	z-index:200;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);;
}
#waring{
	position:fixed;
	top:20%;
	right:0;
	left:0;
	margin:0 auto;
	padding:5px;
	z-index:300;
	width:535px;
	background-color:white;
	box-sizing:border-box;
	text-align:center;
}
#waringTitle{
	text-align:right;
	font-size:18px;
	color:#333;
}
#waringTitle>span{
	cursor:pointer;
}
#waringContent{
	padding:10px 50px 30px 50px;
	font-size:14px;
	color:#333;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif
}
#waringContent>p{
	margin-bottom:10px;
}
#iKnow{
	margin-top:30px;
	width:45%;
	min-width:80px;
	height:45px;
	color:#fff;
    background-color:#d9534f;
    border-color:#d43f3a;
    padding:6px 12px;
    border:1px solid transparent;
    border-radius:4px;
    cursor:pointer;
    transition:0.5s;
}
#iKnow:hover{
	background-color:#c9302c;
	border-color:#ac2925;
}

@media(max-width:768px){
	#uploadCanvas{
		width:100%;
	}
	.uploadItem{
		width:50%;
		height:200px;
		padding:0 5px;
	}
	#waring{
		width:100%;
	}
}